In [1]:
from pandas import pandas as pd
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")

In [2]:
movies.describe(include='all')

              movieId        title genres
count     9742.000000         9742   9742
unique            NaN         9737    951
top               NaN  Emma (1996)  Drama
freq              NaN            2   1053
mean     42200.353623          NaN    NaN
std      52160.494854          NaN    NaN
min          1.000000          NaN    NaN
25%       3248.250000          NaN    NaN
50%       7300.000000          NaN    NaN
75%      76232.000000          NaN    NaN
max     193609.000000          NaN    NaN

In [3]:
ratings.describe(include='all')

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [4]:
df = pd.merge(movies, ratings, on='movieId')
df.describe(include='all')

,movieId,title,genres,userId,rating,timestamp
count,100836.000000,100836,100836,100836.000000,100836.000000,1.008360e+05
unique,NaN,9719,951,NaN,NaN,NaN
top,NaN,Forrest Gump (1994),Comedy,NaN,NaN,NaN
freq,NaN,329,7196,NaN,NaN,NaN
mean,19435.295718,NaN,NaN,326.127564,3.501557,1.205946e+09
std,35530.987199,NaN,NaN,182.618491,1.042529,2.162610e+08
min,1.000000,NaN,NaN,1.000000,0.500000,8.281246e+08
25%,1199.000000,NaN,NaN,177.000000,3.000000,1.019124e+09
50%,2991.000000,NaN,NaN,325.000000,3.500000,1.186087e+09
75%,8122.000000,NaN,NaN,477.000000,4.000000,1.435994e+09
max,193609.000000,NaN,NaN,610.000000,5.000000,1.537799e+09

Tanto df como ratings tienen 100836 rows. con eso compruebo que no perdi datos

filtro pelis mayores a 4

In [5]:
df = df[df['rating']>=4.0]
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,4.0,965705637

In [6]:
apriori_df = df.groupby('userId')['title'].apply(list)
apriori_df

userId
1      [Toy Story (1995), Grumpier Old Men (1995), He...
2      [Tommy Boy (1995), Good Will Hunting (1997), G...
3      [Escape from L.A. (1996), Conan the Barbarian ...
4      [Nobody Loves Me (Keiner liebt mich) (1994), F...
5      [Toy Story (1995), Get Shorty (1995), Babe (19...
                             ...
606    [Sense and Sensibility (1995), Four Rooms (199...
607    [Toy Story (1995), Dead Man Walking (1995), Wh...
608    [GoldenEye (1995), Casino (1995), Seven (a.k.a...
609    [GoldenEye (1995), Interview with the Vampire:...
610    [Toy Story (1995), Heat (1995), Casino (1995),...
Name: title, Length: 609, dtype: object

In [9]:
from mlxtend.frequent_patterns import apriori, association_rules

In [10]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(apriori_df).transform(apriori_df)
df2 = pd.DataFrame(te_ary, columns=te.columns_)
df2

,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),00 Schneider - Jagd auf Nihil Baxter (1994),1-900 (06) (1994),...,Zombieland (2009),Zookeeper (2011),Zoolander (2001),Zootopia (2016),Zulu (1964),[REC] (2007),[REC]² (2009),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
605,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
606,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
607,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
608,True,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,True,False,False,False,False

In [11]:
f=apriori(df2, min_support=0.15, max_len=2, use_colnames=True)
#Esto es una variante a lo que vimos la clase anterior
rules=association_rules(f,metric='lift',min_threshold=2)

In [12]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(Godfather, The (1972))","(Godfather: Part II, The (1974))",0.259442,0.175698,0.167488,0.645570,3.674317,0.121904,2.325710
1,"(Godfather: Part II, The (1974))","(Godfather, The (1972))",0.175698,0.259442,0.167488,0.953271,3.674317,0.121904,15.847947
2,(Lord of the Rings: The Fellowship of the Ring...,"(Lord of the Rings: The Return of the King, Th...",0.239737,0.229885,0.198686,0.828767,3.605137,0.143574,4.497471
3,"(Lord of the Rings: The Return of the King, Th...",(Lord of the Rings: The Fellowship of the Ring...,0.229885,0.239737,0.198686,0.864286,3.605137,0.143574,5.601936
4,"(Lord of the Rings: The Two Towers, The (2002))",(Lord of the Rings: The Fellowship of the Ring...,0.215107,0.239737,0.183908,0.854962,3.566245,0.132339,5.241811
5,(Lord of the Rings: The Fellowship of the Ring...,"(Lord of the Rings: The Two Towers, The (2002))",0.239737,0.215107,0.183908,0.767123,3.566245,0.132339,3.370424
6,"(Lord of the Rings: The Two Towers, The (2002))","(Lord of the Rings: The Return of the King, Th...",0.215107,0.229885,0.192118,0.893130,3.885115,0.142668,7.206076
7,"(Lord of the Rings: The Return of the King, Th...","(Lord of the Rings: The Two Towers, The (2002))",0.229885,0.215107,0.192118,0.835714,3.885115,0.142668,4.777611
8,"(Matrix, The (1999))",(Saving Private Ryan (1998)),0.364532,0.231527,0.177340,0.486486,2.101208,0.092941,1.496500
9,(Saving Private Ryan (1998)),"(Matrix, The (1999))",0.231527,0.364532,0.177340,0.765957,2.101208,0.092941,2.715181
10,"(Matrix, The (1999))","(Sixth Sense, The (1999))",0.364532,0.205255,0.151067,0.414414,2.019027,0.076245,1.357181
11,"(Sixth Sense, The (1999))","(Matrix, The (1999))",0.205255,0.364532,0.151067,0.736000,2.019027,0.076245,2.407076
12,(Star Wars: Episode IV - A New Hope (1977)),(Raiders of the Lost Ark (Indiana Jones and th...,0.330049,0.267652,0.188834,0.572139,2.137625,0.100496,1.711651
13,(Raiders of the Lost Ark (Indiana Jones and th...,(Star Wars: Episode IV - A New Hope (1977)),0.267652,0.330049,0.188834,0.705521,2.137625,0.100496,2.275041
14,(Star Wars: Episode V - The Empire Strikes Bac...,(Raiders of the Lost Ark (Indiana Jones and th...,0.275862,0.267652,0.174056,0.630952,2.357362,0.100221,1.984427
15,(Raiders of the Lost Ark (Indiana Jones and th...,(Star Wars: Episode V - The Empire Strikes Bac...,0.267652,0.275862,0.174056,0.650307,2.357362,0.100221,2.070780
16,(Star Wars: Episode V - The Empire Strikes Bac...,(Star Wars: Episode IV - A New Hope (1977)),0.275862,0.330049,0.236453,0.857143,2.597015,0.145405,4.689655
17,(Star Wars: Episode IV - A New Hope (1977)),(Star Wars: Episode V - The Empire Strikes Bac...,0.330049,0.275862,0.236453,0.716418,2.597015,0.145405,2.553539
18,(Star Wars: Episode VI - Return of the Jedi (1...,(Star Wars: Episode IV - A New Hope (1977)),0.246305,0.330049,0.206897,0.840000,2.545075,0.125604,4.187192
19,(Star Wars: Episode IV - A New Hope (1977)),(Star Wars: Episode VI - Return of the Jedi (1...,0.330049,0.246305,0.206897,0.626866,2.545075,0.125604,2.019901
20,(Star Wars: Episode VI - Return of the Jedi (1...,(Star Wars: Episode V - The Empire Strikes Bac...,0.246305,0.275862,0.190476,0.773333,2.803333,0.122530,3.194726
21,(Star Wars: Episode V - The Empire Strikes Bac...,(Star Wars: Episode VI - Return of the Jedi (1...,0.275862,0.246305,0.190476,0.690476,2.803333,0.122530,2.435013

In [13]:
from IPython.display import *
import ipywidgets as widgets
from ipywidgets import *

In [14]:
raw_input = None #@param {type:"raw"}

In [15]:
print(raw_input)

None